.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row.h-start {
  justify-content: flex-start;
}
.row.h-center {
  justify-content: center;
}
.row.h-center {
  justify-content: flex-end;
}
.row.h-space-around {
  justify-content: space-around;
}
.row.h-space-between {
  justify-content: space-between;
}
.row.v-start {
  align-items: flex-start;
}
.row.v-center {
  align-items: center;
}
.row.v-end {
  align-items: flex-end;
}
.row.v-space-around {
  align-items: space-around;
}
.row.v-space-between {
  align-items: space-between;
}
.column {
  display: flex;
  flex-direction: column;
}
.column.h-start {
  align-items: flex-start;
}
.column.h-center {
  align-items: center;
}
.column.h-center {
  align-items: flex-end;
}
.column.h-space-around {
  align-items: space-around;
}
.column.h-space-between {
  align-items: space-between;
}
.column.v-start {
  justify-content: flex-start;
}
.column.v-center {
  justify-content: center;
}
.column.v-center {
  justify-content: flex-end;
}
.column.v-space-around {
  justify-content: space-around;
}
.column.v-space-between {
  justify-content: space-between;
}
.flex {
  flex: 1;
}
